body, html{
    background-image: url("desktop.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

@font-face{
    font-family: myFont;
    src:url(NissanBrand-Bold.ttf);
}
 .explore{
    font-family: myFont;
    margin:-30px;
    font-size: 110px;
}


@font-face{
    font-family: myFint;
    src:url(NissanBrand-Light.ttf);
}
h1, p, a, .std{
    font-family: myFint;
}
.std{
    letter-spacing: 10px;
    font-size: 50px;
}
.datediv{
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    letter-spacing: 5px;
    font-size: 27px;
    padding: 0;
    margin: 0;

}


@font-face{
    font-family: myFant;
    src:url(NissanBrand-Regular.ttf);
}
h1, p, a{
    font-family: myFant;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{
    padding: 40px;
    text-align: center;
    font-size: 22px;
}

.header{
    margin: 0;
}

.nissandiv{
    border-top: 2px solid;
    border-bottom: 2px solid;
}

.logo {
    margin-top: 70px;
    width:270px;
}

.header-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
}


.headddd{
    font-size: 50px;
}

.mobileview{
    display: none;
}

@media only screen and (max-width: 600px) {
    body, html{
        background-image: url("darkbg2.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 100vh;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .desktopview{
        display:none;
        visibility: hidden;
    }
    .mobileview{
        display: unset;
    }

    .header{
        font-size: 50px;
    }
    .explore{
        font-size: 80px;
    }
    .header2{
        font-size: 42px;
    }

    .explore{
        margin:0;
    }
  }